/* reset css */
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button[disabled] {
  pointer-events: none;
}
input {
  padding: 0;
}
input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}

/* mian css */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://images.pexels.com/photos/775031/pexels-photo-775031.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center center no-repeat;
  background-size: cover;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}



/* left list css */
.row {
  max-height: 600px;
}

.order {
  max-height: 580px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #a39f9f;
  border-radius: 25px;
}

/* delete css */
[data-pos-delete="delete-drink"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  color: #999;
  font-size: 20px;
  line-height: 1;
}

[data-pos-delete="delete-drink"]:hover {
  color: #333;
  cursor: pointer;
}

/* right list css */

.btn-outline-success {
  border-style: none;
}

.menu-item:hover {
  box-shadow: 0px 0px 10px rgb(244, 236, 237);
}

label {
  cursor: pointer;
}